extends layout
block content
  .header
    .options
      select(name="language" id="language")
        option(value="0") Choose a programming langage...
        option(selected value="c") C
        option(value="cpp") C++
        option(value="python") Python
        option(value="java") Java
    
    .hellowing 
      h1 Compiling Made Easy
      p Welcome,
      p Design, Write and Execute in a single pace
  
  .main 
    .wrapper 
      h3 Editor 
      textarea(spellcheck=false autofocus id="editor")
      .button-spinner
        button(type="submit" id="run" accesskey="") Run
        img.spinner(width="30" src="/images/spinner.gif" style="display:none;")

    .wrapper(style="display:none;")
      h3 Console 
      #console
        .pre
          b DEBUG 
          .compile-output.error Compilation Output
          hr
          b STDOUT 
          .stdout Program Output
          hr
          b STDERR 
          .stderr.error Execution Errors


      
  script(src="/javascripts/index.js")