doctype html
html
  head
    title= title
    meta(property="og:title", content="CompilEASY")
    meta(property="og:type", content="website")
    meta(property="og:image", content="/images/logo.svg")
    meta(property="og:description", content="CompilEASY is an in-browser code editor and compiler")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
