body{
  margin: 0;
  padding: 1rem;
}

h1{
  margin: 0;
}

.wrapper{
  margin: 10px;
}

#language{
  padding: 5px;
  font-size: 1em;
}

#editor, #console{
  min-height: 250px;
  padding: 10px;
  width: 95%;
  margin: auto;
  font-family: monospace;
  border: 2px solid gray;
}

#editor:focus, #console:focus{
  border: 2px solid black;
}


#editor{
  display: block;
  resize: none;
  background-color: #2a2a2a;
  color: #d4d4d4;
}

#console{
  min-height: 250px;
  overflow: hidden;
  background-color: black;
  color: white;
}

#console pre{
  overflow-x: auto;
  max-height: 100%;
}

#console pre.stderr{
  color: red;
}

#console .stdout, #console .stderr, #console .compile-output{
  margin: 20px;
}

#run{
  display: inline-block;
  margin-right: 15px;
  background-color: #2ecc71;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#run:hover {
  background-color: #45a049;
}

.header{
  text-align: center;
  padding: 10px;
}

.header .options{
  margin-bottom: 20px;
}


@media screen and (min-width: 750px) {
  .header{
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      text-align: left;
  }
}


@media screen and (min-width: 990px) {
  .main{
      display: flex;
  }

  .main > * {
      flex: 1;
  }
}

.error {
  color: rgb(239, 57, 57);
}

.button-spinner{
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
  padding-top: 20px;
}
